*{
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font-family:"Poppins", sans-serif;
  vertical-align: baseline;
}

body{
   background-image: url(../Images/Pano-de-fundo-paisagem.jpg);
   background-repeat: no-repeat;
}



