.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $cor-primaria;
}

.logo img {
  height:130px;
}

.menu-sanduiche{
  display: none;
}

.menu ul {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;
  padding: 5px 20px;
}

.menu ul li a{
  color: $cor-secundaria;
  text-decoration: none;
}


  








