.sobre-fotografia{
  justify-content: space-between;
  align-items: center;
  
 h1{
  font-size: 70px;
  font-weight: 400;
  line-height: 110%;
  color: $cor-secundaria;
  margin-left: 30px;
  margin-top: 25px;
 }

 p{
  width: 450px;
  color: $cor-secundaria;
  margin: 10px 0 40px 30px;
 }

 a { 
  margin-left: 30px;
  display: inline-flex; 
  align-items: center; 
  justify-content: center;
 }

 .imagem {
    position: relative;
    width: 400px;
    margin: auto;
    transform: translateX(30%);
 


  .polaroide {
    position: absolute;
    width: 360px;
    top: 75%;
    left: 60%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, z-index 0.3s ease;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px 10px 50px 10px;
    border: 1px solid #ccc;
    background: white;
  }
 }
}






   