.sobre-fotografia {
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;

  h1 {
    font-size: 70px;
    font-weight: 400;
    line-height: 110%;
    color: $cor-titulo;
    margin-top: 10px;
  }

  p {
    width: 450px;
    color: $cor-texto;
    margin: 10px 0 40px;
  }

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .imagem {
    position: relative;
    width: 450px;
    margin: auto;
    transform: translateX(30%);

    .polaroide {
      position: absolute;
      width: 340px;
      top: calc(50% - 50px);
      left: max(50%, 350px);
      transition: transform 0.3s ease, z-index 0.3s ease;
      cursor: pointer;
      box-shadow: 0 8px 16px $preto-sombra;
      padding: 10px 10px 50px 10px;
      border: 1px solid $cinza;
      background: $branco;
    }
  }
}
