$cor-primaria: rgba(0, 0, 0, 0.5);
$preto-fosco: rgba(20, 20, 20, 0.85);
$preto-sombra: rgba(0, 0, 0, 0.2);

$cor-titulo: #8c6a2f;
$cor-texto: #2e2b25;
$cor-botao: #e6d3a3;
$cor-hover: #d2bc86;

$cinza: #ccc;
$branco: #fff;
